body {
  font-family: Arial, sans-serif;
  background-color: #FDF5E6;
  color: #fff;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #0D2F80;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 32px;
}

h2 {
  text-align: center;
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="number"] {
  width: 93%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 18px;
  color: #333;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #ff8000;
}

.result-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  color: #ff8000;
}

p {
  margin: 0;
  font-size: 20px;
}

span {
  font-weight: bold;
  font-size: 24px;
}
